@model Dulcepastel.Models.cliente.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDocId" class="control-label"></label>
                <input asp-for="TipoDocId" class="form-control" />
                <span asp-validation-for="TipoDocId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroDoc" class="control-label"></label>
                <input asp-for="NroDoc" class="form-control" />
                <span asp-validation-for="NroDoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelFijo" class="control-label"></label>
                <input asp-for="TelFijo" class="form-control" />
                <span asp-validation-for="TelFijo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FNacimiento" class="control-label"></label>
                <input asp-for="FNacimiento" class="form-control" />
                <span asp-validation-for="FNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUserCre" class="control-label"></label>
                <input asp-for="IdUserCre" class="form-control" />
                <span asp-validation-for="IdUserCre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Create" class="control-label"></label>
                <input asp-for="Create" class="form-control" />
                <span asp-validation-for="Create" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IduserUpd" class="control-label"></label>
                <input asp-for="IduserUpd" class="form-control" />
                <span asp-validation-for="IduserUpd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CUpdate" class="control-label"></label>
                <input asp-for="CUpdate" class="form-control" />
                <span asp-validation-for="CUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
