@model Dulcepastel.Models.login.Login

@{
    Layout = null;
    var errorLogin = TempData.ContainsKey("ErrorLogin") ? TempData["ErrorLogin"]?.ToString() : "";
    var email = TempData.ContainsKey("EmailLogin") ? TempData["EmailLogin"]?.ToString() : "";
    var password = TempData.ContainsKey("PasswordLogin") ? TempData["PasswordLogin"]?.ToString() : "";
}

<!doctype html>
 <html lang="es">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
     <link href="css/style/Login/loginStyle.css" rel="stylesheet"/>
     <title>Login</title>
 </head>
 <body>
 <div>
     <div class="container">
         <div class="titleText">
             <h1>Bienvenido</h1>
             <p>Hola Registrarte para comenzar</p>
             <div class="formLogin">
                 <form asp-action="Login" method="post">
                     <div class="container centerDivWithInputs PositionLabels text-center">
                         <div class="mb-2 text-center text-break" style="color: red">
                             @errorLogin
                         </div>
                         <div class="form-floating mb-2 col-md-10">
                             <input asp-for="Email" type="email" class="form-control" id="txtEmail"
                                    value="@email" placeholder=" " required>
                             <label class="" asp-for="Email" for="txtEmail">Email</label>
                         </div>
                         <div class="form-floating mb-4 col-md-4">
                             <input asp-for="Password" type="password" class="form-control" value="@password" id="txtPassword" placeholder=" " required>
                             <label class="" asp-for="Password" for="txtPassword">Contraseña</label>
                         </div>
                     </div>
                     <div class="text-center">
                         <button class="btn-dark" type="submit" id="btnIngresar">Ingresar</button>
                     </div>
                 </form>
             </div>
             
         </div>
     </div>
 </div>
 </body>
 </html>